#React stuff
react-frontend/node_modules
react-frontend/build

##FastAPI stuff
python/.venv
python/.poetry_cache
python/.pytest_cache
python/dist
python/main.build
python/main.bin
python/main.dist
python/.coverage
python/coverage.xml
python/src/toolbox/ansible
python/src/toolbox/build