# Virtual Environments

**/.venv
**/.poetry_cache

# Pycache

**/__pycache__

# Distribution / packaging

**/dist

# Build folder

**/build

# Ansible folder

**/ansible

# Pytest cache

**/.pytest_cache
test_dir

# Coverage

**/.coverage
**/.coverage.*
**/.coverage-*
**/coverage.*